<h1>
  <%= @user.name %> interests
</h1>
<hr />

<% if @interests.any? %>
  <ul>
    <% @interests.each do |interest| %>
      <li>
        <%= link_to interest.name, user_interest_path(@user, interest) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No Interests found, please add one!</h3>
<% end %>

<hr />

<%= link_to 'New interest', new_user_interest_path(@user) %>
<%= link_to 'Back', user_path(@user) %>